@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #4074f0;
  --background-color: #f1f3f6;
  --font-color: #212121;
  --backgroundDiv-color: white;
  --offer-color: #388e3c;
  --descfont-color: gray;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

li,
ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: #212121;
  /* line-height: 1.4; */
  font-family: Roboto, Arial, sans-serif;
  background-color: var(--background-color);
}

/* NavBar styles */
.navBar {
  width: 100%;
  background-color: var(--main-color);
  height: 55px;
}

.navDiv {
  display: flex;
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  position: relative;
  left: 61px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  color: #f0f0f0;
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
}

.searchDiv {
  min-width: 304px;
  width: calc(100% - 540px);
}

.searchBar {
  display: flex;
  max-width: 564px;
  width: 100%;
  margin-left: 10px;
  box-shadow: 0 2px 4px 0 rgb(0, 0, 0 /23%);
}

.searchInput {
  outline: none;
  padding: 0 16px;
  border-radius: 2px 0 0 2px;
  border: 0;
  width: 100%;
  height: 36px;
}

.searchButton {
  background: var(--backgroundDiv-color);
  border: 1px solid white;
  padding: 4px 12px 4px 8px;
  width: 44px;
  height: 36px;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  color: var(--main-color);
  font-size: 19px;
}


.login{
  position: relative; 
  left: 45px;
}

.login_btn{
  color: var(--main-color) !important;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  background: white;
  letter-spacing: 1px;
  height: 32px;
  padding: 6px 40px;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}


.more, .cart{
  position: relative;
  left: 45px;
}

.more_lan, .cart_lan{
  color: white;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
  font-size: 16px;
}



/* Category styles */
.categoryDiv {
  display: flex;
  width: 100%;
  background: var(--backgroundDiv-color);
  justify-content: center;
  min-height: 112px;
  border-bottom: 2px solid lightgray;
}

.catDivUL {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 75px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* flex-wrap: wrap; */
  max-height: 100%;
}

.catDivUL::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.catItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.catImage {
  width: 65px;
  height: 65px;
}


.catTitle {
  font-weight: 600;
  font-size: 13px;
}

.catItem:hover{
  color: var(--main-color);
}

/* Body Items Div(first) Styles */
.firstDiv {
  display: flex;
  justify-content: space-between;
  width: 88%;
  /* min-width: 1660px; */
  margin: 15px auto;
}

.dealsDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 87%;
  /* min-height: 300px; */
  background: var(--backgroundDiv-color);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.adBanner {
  display: flex;
  width: 12.5%;
  max-height: 100%;
}

.dealsItemsDiv{
  gap: 40px;
  padding: 25px;
}

.dealsItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dealsIteamImage{
  width: 150px;
  height: 150px;
}

.dealsItem:hover{
  transform: scale(1.03);
}

.dealContentText{
  color: var(--offer-color);
  margin-top: 10px;
  text-align: center;
}

.dealTitle{
  margin-top: 10px;
  font-size: 14px;
}

.dealContentDesc{
  color: var(--descfont-color);
  font-weight: 200;
}


/* Body items Div(second) styles */

.secondDiv {
  display: flex;
  flex-direction: column;
  background: var(--backgroundDiv-color);
  /* min-height: 400px; */
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

h2 {
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  font-weight: 500;
  color: var(--font-color);
}

.headingDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b9bbc0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.clock {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
}

.viewAllButton {
  display: flex;
  align-items: center;
  height: 20px;
  background-color: var(--main-color);
  color: white;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 1px 2px 0 rgb(0 0 0 / 10%);
  font-size: 12px;
  font-weight: 600;
}
